<h1>Pages#welcome</h1>
<p>Find me in app/views/pages/welcome.html.erb</p>


<p>The current time is <%= Time.now %></p>
<p>The current time is <%= @time %></p>
<p>top <%= @chefs.size%> on <%= @time%></p>
<ul>
  
  <%@chefs.each do |chef|%>
    <li><%=chef%></li>
  <%end%>
</ul>

<script>
  //alert("The current time is <%= Time.new %>")
</script>